<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->

<div class="container mx-auto p-2">

  <div class=" border border-gray-200 shadow-lg  p-4 rounded-lg  mb-4">
    <div class="flex justify-around items-center w-full">
        <div class="flex items-center space-x-1">
            <div class="p-1 bg-white shadow-lg rounded-md ml-2">
                <span class="block w-4 h-4 bg-green-500 rounded-sm"></span>
            </div>
            <span class="text-lg font-bold">Available</span>
        </div>
        <div class="flex items-center space-x-1">
            <div class="p-1 bg-white shadow-lg rounded-md ml-2">
                <span class="block w-4 h-4 bg-yellow-500 rounded-sm"></span>
            </div>
            <span class="text-lg font-bold">In Sale</span>
        </div>
        <div class="flex items-center space-x-1">
            <div class="p-1 bg-white shadow-lg rounded-md ml-2">
                <span class="block w-4 h-4 bg-red-500 rounded-sm"></span>
            </div>
            <span class="text-lg font-bold">Sold Out</span>
        </div>
    </div>
</div>

  <div class="flex flex-wrap gap-1">
    <div
      [ngClass]="{'bg-green-400': property.status==1,'bg-yellow-400':property.status==2,'bg-red-400':property.status==3}"
      *ngFor="let property of properties"
      class="w-16 h-16 shadow-md rounded-full p-4 cursor-pointer flex items-center justify-center"
      (click)="changeStatus(property)">
      <p class="text-md text-center font-semibold">{{property.number}}</p>
    </div>
  </div>
</div>

<app-loading-spinner></app-loading-spinner>